

        /*Body é a cor de fundo geral, fonte e etc*/
body {
    background: linear-gradient(70deg,#2dd9e2 0%, #1845ad 20%, #2dd9e2 80%);  /*Gradiente de cores */
    font-family: Garamond, sans-serif;
   /* background-color: #a43535; */
   background-attachment: fixed;
   max-width: auto;
    margin: 0;
    padding: 0;
}
/*Cor do fundo das perguntas e altura e etc */
.faq-container {
    max-width: auto;
    width: 70vw;
    margin: 20px auto;
    padding: 25px;
    background-color: #16e4463d;
    box-shadow: 0 0 15px rgb(22, 22, 22);
    border-radius: 15px;
}

/*Cor da escrita do cabeçalho do faq*/
h1 {
    text-align: center;
    color: #000000;
}

    /*Margin dos botões*/
.faq-item {
    margin-bottom: 15px;
}

/*Cor da escrita perguntas do faq, altura tamanho e etc*/
.faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

/*Cord do botão da pergunta com degrade*/
.faq-question:hover {
    background: linear-gradient(45deg, #05d2f6, #1845ad);
    transform: scale(1.05);
}

    /*Cor da resposta das perguntas e etc*/
.faq-answer {
    padding: 10px 20px;
    background-color: #ffffff;
    display: none;
    border-left: 3px solid #1c4dfc;
    border-radius: 0 0 5px 5px;
}

.faq-answer.active {
    display: block;
}
footer{
    font-size: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.5rem; 
    }
